<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>



    <div class="container" style="padding-top: 5rem;">
      <%= yield %>
    </div> 


<div class="row">
  <div class="col s8">
    <table class="striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @restaurants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.description %></td>
            <td><%= link_to 'Show', restaurant %></td>
            <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
            <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col s4">
    <h5>Filtre</h5>
    <div class="collection">
      <% @cities.each do |city| %>
        <%= link_to city.name, "/", class:"collection-item" %>
      <% end %>
    </div>
  </div>
</div>

<br>


<%= link_to 'New Restaurant', new_restaurant_path %>