<!DOCTYPE html>
<html>
  <head>
    <title>TchopRails web</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <%= render '/layouts/header' %>

    <% if flash[:success] %>
      <div> <%= flash[:success] %> </div>
    <% end %>
    
    <% if flash[:danger] %>
      <div> <%= flash[:danger] %> </div>
    <% end %>

    <div class="container" style="padding-top: 5rem;">
      <%= yield %>
    </div> 


    <%= debug session[:auth] %> 

    <%= render '/layouts/footer' %>  
    <%= render '/layouts/javascript' %>
  </body>
</html>
